<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FreeHTML5.co"/>
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app1/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">
    <!-- Modernizr JS -->
    <script src="{% static 'app1/js/modernizr-2.6.2.min.js' %}"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

        </div>
        <div class="col-md-4 col-md-offset-4">
            <!-- Start Sign In Form -->
            <form action="#" class="fh5co-form animate-box" data-animate-effect="fadeIn" method="post">
                {% csrf_token %}
                <h2 class="text-center">实验室耗材管理系统</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">用户名</label>
                    <input type="text" class="form-control" id="username" placeholder="用户名" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="密码" autocomplete="off">
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="登录" class="btn btn-primary ">
                </div>
            </form>
            <!-- END Sign In Form -->
        </div>
    </div>

</div>

<!-- jQuery -->
<script src="{% static 'app1/js/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'app1/js/bootstrap.min.js' %}"></script>
<!-- Placeholder -->
<script src="{% static 'app1/js/jquery.placeholder.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'app1/js/jquery.waypoints.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'app1/js/main.js' %}"></script>


</body>
</html>

